<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
>
<h:head>
    <f:facet name="middle">
        <h:outputScript name="bootstrap/js/jquery.min.js" />
    </f:facet>
</h:head>

<h:body>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12"><!--style="background-color: green"-->

        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-2 sidebar">
            <h:form id="formulaireMenuGauche">
                <p:menu model="#{menuMbeanT.model}" />
            </h:form>
        </div>
        <div class="ui-g-12 ui-md-10 ui-g-nopad">
            <ui:insert name="content" />
        </div>
        <div class="ui-g-12">

        </div>
    </div>
</h:body>

</html>
