<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <h:outputScript library="js" name="translation.js" />
</h:head>

<h:body>
    <ui:debug  hotkey="o" rendered="#{facesContext.application.projectStage == 'Development'}" /><!--rendered="true"-->
    <ui:composition template="contenu.xhtml">
        <ui:define name="content">
            <h:form id="formulaireData">
                <div class="ui-g-12">

                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                            <h:panelGrid id="grid" columns="3" cellpadding="5" cellspacing="5">
                                <p:outputLabel for="dateDebut" value="Date début:" />
                                <p:calendar id="dateDebut"  locale="fr" required="true" value="#{dataImportMBean.dateDebut}" requiredMessage="Saisir une date de début">
                                    <!--<f:convertDateTime pattern="dd/MM/yyyy"/>-->
                                </p:calendar>
                                <p:message for="dateDebut"  display="icon" severity="error"/>

                                <p:outputLabel for="dateFin" value="Date de fin:" />
                                <p:calendar id="dateFin"  value="#{dataImportMBean.dateFin}" required="true">
                                    <!--<f:convertDateTime pattern="dd/MM/yyyy"/>--><!--mask="99/99/9999"-->
                                </p:calendar>
                                <p:message for="dateFin" display="icon" severity="error" />
                            </h:panelGrid>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <h:panelGrid id="gridMenuOption" columns="3" cellpadding="5" cellspacing="5">
                                <p:outputLabel for="typeEtab" value="Type Etabli:" />
                                <p:selectOneMenu id="typeEtab" value="#{dataImportMBean.typeEtabS}" required="true">
                                    <p:ajax listener="#{dataImportMBean.actionMenuTypeEtablissement}" process="@this"  update="nomEtab"/> <!--this.form.submit()-->
                                    <f:selectItem itemLabel="Choisir" itemValue="" />
                                    <f:selectItems value="#{dataImportMBean.listTypesEtablissements}" />
                                </p:selectOneMenu>

                                <p:message for="typeEtab" display="icon" severity="error" />

                                <p:outputLabel for="nomEtab" value="Nom Etab:" />
                                <p:selectOneMenu id="nomEtab" value="#{dataImportMBean.nomEtabS}" required="true" style="width:215px">
                                    <f:selectItem itemLabel="Choisir" itemValue="" />
                                    <f:selectItems value="#{dataImportMBean.listNomEtablissements}" />
                                </p:selectOneMenu>
                                <p:message for="nomEtab" display="icon" severity="error" />
                            </h:panelGrid>
                        </div>

                    </div>

                    <div class="ui-g">
                        <div class="ui-md-12">
                            <p:ajaxStatus>
                                <f:facet name="error">
                                    <p:progressBar widgetVar="pbAjax" ajax="true"  styleClass="animated" rendered="false">
                                    </p:progressBar>
                                </f:facet>
                                <f:facet name="success">
                                    <p:progressBar widgetVar="pbAjax" ajax="true"  styleClass="animated" rendered="false">
                                    </p:progressBar>
                                </f:facet>
                                <f:facet name="default">
                                    <p:progressBar widgetVar="pbAjax" ajax="true"  styleClass="animated" rendered="false">
                                    </p:progressBar>
                                </f:facet>
                                <f:facet name="start">
                                    <p:progressBar widgetVar="pbAjax" ajax="true"  styleClass="animated" rendered="true">
                                    </p:progressBar>
                                </f:facet>
                                <f:facet name="complete">
                                    <p:progressBar widgetVar="pbAjax" ajax="true"  styleClass="animated" rendered="false">
                                    </p:progressBar>
                                </f:facet>
                            </p:ajaxStatus>
                            <!--<p:progressBar widgetVar="pbAjax" ajax="true"  styleClass="animated" rendered="false">
                            </p:progressBar>-->

                            <!--<p:ajaxStatus onstart="PF('pbAjax').show()" onsuccess="PF('pbAjax').hide()" oncomplete="PF('pbAjax').hide()" />-->
                        </div>
                    </div>

                    <div class="ui-g">
                        <div class="ui-md-4">

                        </div>
                        <div class="ui-md-6">
                            <!--oncomplete="PF('btnExporter').enable();" -->
                            <p:commandButton id="exporter"  oncomplete="jQuery(this).removeAttr('disabled')" widgetVar="btnExporter" onclick="jQuery(this).addClass('ui-state-disabled')"  styleClass="ui-button" value="Exporter" actionListener="#{dataImportMBean.exporterData}" update="@({id$=resultatImport1})" /><!--resultatImport1 typeEtab nomEtab-->
                            <p:commandButton id="save"  widgetVar="btnSave" styleClass="ui-button" value="Sauvegarder" actionListener="#{dataImportMBean.saveData}" update="resultatImport1" disabled="#{dataImportMBean.disabledExport}" />
                        </div>
                    </div>



                </div>

                <div class="ui-g-12">
                    <p:dataTable id="resultatImport1" var="dataImport" value="#{dataImportMBean.dataToImport}" rows="10"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15">
                        <p:column headerText="Année">
                            <h:outputText value="#{dataImport.annee}" />
                        </p:column>

                        <p:column headerText="Code">
                            <h:outputText value="#{dataImport.code}" />
                        </p:column>

                        <p:column headerText="Date Hono">
                            <h:outputText value="#{dataImport.dateActeHono}" />
                        </p:column>

                        <p:column headerText="Praticien">
                            <h:outputText value="#{dataImport.pratHonor}" />
                        </p:column>

                        <p:column headerText="Spécialité">
                            <h:outputText value="#{dataImport.specialite}" />
                        </p:column>

                        <p:column headerText="Prod_Honor">
                            <h:outputText value="#{dataImport.prodHonor}" />
                        </p:column>

                        <p:column headerText="Coef Honor">
                            <h:outputText value="#{dataImport.coeffHonor}" />
                        </p:column>

                        <p:column headerText="Service">
                            <h:outputText value="#{dataImport.serv}" />
                        </p:column>

                        <p:column headerText="LettreCle">
                            <h:outputText value="#{dataImport.lettreCle}" />
                        </p:column>

                        <p:column headerText="Coeff">
                            <h:outputText value="#{dataImport.coeffHonor}" />
                        </p:column>

                        <p:column headerText="Quantite">
                            <h:outputText value="#{dataImport.quantite}" />
                        </p:column>

                        <p:column headerText="Nom Naissance">
                            <h:outputText value="#{dataImport.nomNaissance}" />
                        </p:column>

                        <p:column headerText="Nom Usuel">
                            <h:outputText value="#{dataImport.nomUsuel}" />
                        </p:column>

                        <p:column headerText="Prénom">
                            <h:outputText value="#{dataImport.prenom}" />
                        </p:column>

                        <p:column headerText="Num Dossier">
                            <h:outputText value="#{dataImport.numDossier}" />
                        </p:column>

                        <p:column headerText="Num Patient">
                            <h:outputText value="#{dataImport.numeroPA}" />
                        </p:column>

                    </p:dataTable>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

    <script type="text/javascript">
        function start() {
            console.log("clique sur le bouton");
        }
        console.log("test");

       //PF('save').hide();
        PF('pbAjax').style.display = 'none';

        function endStart()
        {
            console.log("end copie ");
            PF('btnSave').disable();
            PF('pbAjax').hide();
        }


    </script>
</h:body>

</html>