<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
>
   <h:head>

   </h:head>
<h:body>
   <h:form id="formulaireData">
      <div class="ui-g-12">
         <h:panelGrid id="grid" columns="3" cellpadding="5" cellspacing="5">

            <p:outputLabel for="SimpleValue" value="Simple Value:" />
            <p:inputText value="#{beansT.message}" id="SimpleValue"/>
            <p:message for="SimpleValue" />
         </h:panelGrid>
         <p:commandButton id="exporter" value="Exporter" actionListener="#{beansT.testForm}"/>
      </div></h:form>
</h:body>
</html>
